@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
color: #222;
}


body {
  background-color:rgb(233,236,239);
  opacity: 1;
}
.logo {
  height: 400px;
  width: 400px;
  display: block;
  margin: 0 auto;
  }

  .nav-link {
  color: #222 !important;
  }

  .nav-item {
  font-weight: bold;
  font-size:1.1em;
}
